aiohttp==3.8.3
bitsandbytes==0.35.0
colorama
diffusers[torch]==0.12.1
ftfy==6.1.1
ninja
omegaconf==2.2.3
piexif==1.1.3
protobuf==3.20.3
pynvml
pyre-extensions
pytorch-lightning==1.7.6
tensorboard==2.11.0
transformers==4.25.1
wandb